@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-Bold.ttf');
    font-weight: 700;
}


body {
    font-family: 'Source Sans Pro';
    line-height: 1.5;
    font-size: 16px;
    overflow-x: hidden;
    background: #fafafa;
    color: rgba(0, 0, 0, .8);
    text-align: center;
}

html, body, p, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    padding: 1rem 1rem 4rem;
}

.introduction {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 480px) {
    .section:first-child {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }
    .introduction {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}

.section:first-child {
    color: white;
    background: #d32f2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #e53935);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #e53935); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 1;
    position: relative;
    margin-bottom: 2rem;
}

.section:first-child p {
    margin-bottom: 0;
}

.section:first-child::after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
  }

.section:nth-child(2n + 3) {
    color: white;
    background: #b71c1c;
    background: radial-gradient(circle at center, #e53935, #93291E);
}

.section p {
    max-width: 660px;
    margin-bottom: 2.5rem;
}

.heading {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.image {
    width: 100%;
    height: auto;
}

.receipt-with-bounding-boxes {
    max-width: 350px;
    border-radius: 2px;
}